:focus-visible {
  outline: 2px solid var(--contrast-color);
}

html,
body {
  color: var(--dark-gray-text);
  font-family: "Raleway", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

main {
  background-color: var(--lighter-gray);

  // Preveinting margin collapse
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
