@use "../../styles/partials/custom-media.scss" as cm;

:root {
  /* COLORS */
  /* General colors */
  --neutral-color-100: hsl(0, 0%, 100%);
  --neutral-color-200: hsl(0, 0%, 96%);
  --neutral-color-300: hsl(0, 0%, 78%);
  --neutral-color-500: hsl(0, 0%, 50%);
  --neutral-color-700: hsl(0, 0%, 27%);
  --neutral-color-900: hsl(0, 0%, 0%);

  --accent-color-100: hsl(215, 83%, 95%);
  --accent-color-400: hsl(214, 77%, 62%);
  --accent-color-400-transparent: hsla(214, 77%, 62%, 0.25);
  --accent-color-500: hsl(214, 78%, 53%);

  --fixed-color-100: var(--neutral-color-100);
  --fixed-color-300: var(--neutral-color-300);
  --fixed-color-900: var(--neutral-color-900);

  --danger-color: hsl(0, 100%, 60%);

  /* Text specific colors */
  --neutral-text-100: var(--neutral-color-100);
  --neutral-text-500: var(--neutral-color-500);
  --neutral-text-700: var(--neutral-color-700);
  --neutral-text-900: var(--neutral-color-900);

  /* Specific elements colors */
  --form-field-shadow: 0 1px 0 0 var(--neutral-color-300);
  --footer-info-color: var(--accent-color-100);

  /* SIZES */
  /* General sizes */
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.5rem;
  --size-5: 2rem;
  --size-6: 4rem;
  --size-7: 6rem;

  /* Product size */
  --product-min-size: 10rem;

  /* Default inline padding/margin */
  --inline-spacing: var(--size-5);

  /* FONT SIZES */
  --fs-100: 0.75rem;
  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.4rem;
  --fs-500-clamp: clamp(1.4rem, 1.5vw + 1rem, 2rem);
  --fs-600-clamp: clamp(2rem, 5vw + 1rem, 3rem);
}

@include cm.media(max, phone) {
  :root {
    /* Default inline padding/margin */
    --inline-spacing: var(--size-3);
  }
}

[data-theme="dark"] {
  /* General colors */
  --neutral-color-100: hsl(0, 0%, 5%);
  --neutral-color-200: hsl(0, 0%, 10%);
  --neutral-color-300: hsl(0, 0%, 22%);
  --neutral-color-500: hsl(0, 0%, 50%);
  --neutral-color-700: hsl(0, 0%, 90%);
  --neutral-color-900: hsl(0, 0%, 100%);

  /* Text specific colors */
  /* These custom properties need to be redefined here, otherwise they wouldn't
  update their values based on the custom property whose color they are
  inheriting */
  --neutral-text-100: var(--neutral-color-100);
  --neutral-text-500: var(--neutral-color-500);
  --neutral-text-700: var(--neutral-color-700);
  --neutral-text-900: var(--neutral-color-900);

  /* Specific elements colors */
  --form-field-shadow: 0 0px var(--size-1) 0 var(--neutral-color-700);
  --footer-info-color: hsl(214, 30%, 20%);
}
