@use "../../styles/partials/custom-media.scss" as cm;

:root {
  /* COLORS */
  /* Text specific colors */
  --dark-gray-text: hsl(0, 0%, 27%);
  --gray-text: hsl(0, 0%, 64%);
  --white-text: hsl(0, 0%, 100%);

  /* General colors */
  --accent-color: hsl(214, 78%, 53%);
  --accent-color-light: hsl(214, 77%, 62%);
  --accent-color-lighter: hsl(215, 79%, 91%);
  --accent-color-lightest: hsl(215, 83%, 95%);
  --light-gray: hsl(0, 0%, 78%);
  --lighter-gray: hsl(0, 0%, 96%);

  /* SIZES */
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.5rem;
  --size-5: 2rem;
  --size-6: 4rem;
  --size-7: 6rem;

  /* FONT SIZES */
  --fs-smaller: 0.750rem;
  --fs-small: 0.875rem;
  --fs-text: 1rem;
  --fs-big-text: 1.4rem;
  --fs-medium-title: 2rem;
  --fs-big-title: clamp(2rem, 5vw + 1rem, 3rem);

  /* DEFAULT INLINE PADDING/MARGIN */
  --inline-spacing: var(--size-5);
}

@include cm.media(max, phone) {
  :root {
    --inline-spacing: var(--size-3);
  }
}
