.parentWrapper {
  display: grid;
}

.childWrapper {
  --label-color: var(--light-gray-text);
  --input-padding-inline: var(--size-3);
  position: relative;
}

.label {
  color: var(--label-color);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: var(--input-padding-inline);

  transition: all 200ms ease-out;
  pointer-events: none;

  &Focused {
    font-size: var(--fs-smaller);

    top: var(--size-2);
    transform: unset;
  }
}

.input,
.textarea {
  width: 100%;

  border-radius: var(--size-1);
  box-shadow: 0 1px 0 0 var(--light-gray);

  &::placeholder {
    color: var(--label-color);
  }
}

.input {
  --padding-top: var(--size-2);
  padding-block: var(--padding-top) var(--size-2);
  padding-inline: var(--input-padding-inline);
}

.textarea {
  height: 10rem;

  --padding-top: var(--size-3);
  padding-block: var(--padding-top) var(--size-3);
  padding-inline: var(--input-padding-inline);

  resize: vertical;
}

.withLabelVisible {
  --padding-top: var(--size-4);
}

.withError:not(:focus-visible) {
  outline: 2px solid var(--warning);
}

.errorMessage {
  color: var(--warning);

  margin-top: var(--size-1);
}
