.parentWrapper {
  display: grid;
}

.childWrapper {
  --label-color: var(--neutral-text-500);
  --input-padding-inline: var(--size-3);
  position: relative;
}

.labelInput,
.labelTextArea {
  color: var(--label-color);

  position: absolute;
  left: var(--input-padding-inline);

  transition: all 200ms ease-out;
  pointer-events: none;
}

.labelInput {
  top: 50%;
  transform: translateY(-50%);
}

.labelTextArea {
  background-color: var(--neutral-color-100);

  top: var(--size-3);
  right: var(--input-padding-inline);
}

.labelFocused {
  font-size: var(--fs-100);

  top: 0;
  padding-top: var(--size-2);
  transform: unset;
}

.input,
.textarea {
  color: var(--neutral-text-900);

  background-color: var(--neutral-color-100);

  width: 100%;

  border-radius: var(--size-1);
  box-shadow: var(--form-field-shadow);

  &::placeholder {
    color: var(--label-color);
  }
}

.input {
  --padding-top: var(--size-2);
  padding-block: var(--padding-top) var(--size-2);
  padding-inline: var(--input-padding-inline);
}

.textarea {
  height: 10rem;

  --padding-top: var(--size-3);
  padding-block: var(--padding-top) var(--size-3);
  padding-inline: var(--input-padding-inline);

  resize: vertical;
}

.withLabelVisible {
  --padding-top: var(--size-4);
}

.withError:not(:focus-visible) {
  outline: 2px solid var(--danger-color);
}

.errorMessage {
  color: var(--danger-color);

  margin-top: var(--size-1);
}
