# Since `.env` is gitignored, you can use `.env.example` to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in `/env/schema.mjs` should be updated accordingly.

# ---- Prisma ----
# DATABASE_URL needs to be adjusted to your database production url when deploying.
DATABASE_URL="DBPROVIDER://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA"

# ---- NextAuth.js ----
# NEXTAUTH_URL needs to be adjusted to your website production url when deploying.
# Note: When deploying on Vercel, you won't need this variable.
NEXTAUTH_URL="http://localhost:3000"
# You can generate the secret via 'openssl rand -base64 32' on Linux or Mac
# More info: https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
GITHUB_ID=""
GITHUB_SECRET=""

# ---- Cloudinary ----
# These variables are needed for signed uploads and for deleting images.
CLOUDINARY_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Optional (only when using a specific preset or when making unsigned uploads).
# CLOUDINARY_UPLOAD_PRESET=""