@use "../../styles/partials/custom-media.scss" as cm;

.button {
  text-align: center;

  display: block;

  --padding: var(--size-3);
  padding-inline: var(--padding-inline, var(--padding));
  padding-block: var(--padding-block, var(--padding));
}

.contained {
  background-color: var(--accent-color-500);
  color: var(--fixed-color-100);

  &:hover,
  &:focus-visible {
    background-color: var(--accent-color-400);
  }
}

.outlined {
  border: 1px solid var(--accent-color-500);
  color: var(--accent-color-500);

  &:hover,
  &:focus-visible {
    background-color: var(--accent-color-400-transparent);
  }
}

@include cm.media(max, tablet) {
  .button {
    font-size: var(--fs-200);
    font-weight: 600;

    --padding-block: 0.75rem;
  }
}
