.dropArea {
  background-color: var(--primary-color);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  position: relative;
  
  display: grid;
  place-content: center;
  min-height: 20rem;
  width: 100%;

  padding: var(--size-4);
  border: 2px dashed var(--light-gray-text);

  &.dragOver {
    border-style: solid;
  }

  & * {
    pointer-events: none;
  }

  &DefaultContent {
    color: var(--gray-text);
    text-align: center;

    display: grid;
    gap: var(--size-3);
    justify-items: center;
  }
}

.fileNames {
  color: white;
  text-align: left;

  background-color: hsla(0, 0%, 10%, 0.9);

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  padding: var(--size-2) var(--size-3);
}

.errorMessage {
  color: var(--danger);

  margin-top: var(--size-1);
}
