.container {
  margin-block: var(--size-6);
}

.header {
  display: flex;
  gap: var(--size-3);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  margin-bottom: var(--size-3);
}

.title {
  font-size: var(--fs-500-clamp);
}

.productList {
  display: grid;
  gap: var(--size-3);
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--product-min-size), 1fr)
  );
  grid-template-rows: auto;
  justify-content: space-between;
}

.product {
  position: relative;

  display: grid;
  align-content: flex-start;
  gap: var(--size-2);

  &Buttons {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    gap: var(--size-3);
    align-items: center;

    padding: var(--size-2);

    & > * {
      filter: drop-shadow(0 0 1px var(--fixed-color-900));
    }
  }

  &Title,
  &Id {
    font-weight: 500;
  }

  &Title {
    font-size: var(--fs-200);
  }

  &Id {
    font-size: var(--fs-100);

    &::before {
      content: "#";
    }
  }
}
