.hero {
  background-image: url(/img/banner.jpg);
  background-size: cover;
  background-position: center;

  color: var(--white-text);

  position: relative;
  isolation: isolate;

  &::before {
    content: "";
    background-image: linear-gradient(
      to bottom,
      transparent,
      hsla(0, 0%, 0%, 0.5)
    );

    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &Container {
    display: grid;
    gap: var(--size-3);
    grid-auto-flow: row;
    justify-items: flex-start;

    padding-block: var(--size-7) var(--size-5);
  }

  &Title {
    font-size: var(--fs-big-title);
  }

  &Paragraph {
    font-size: var(--fs-big-text);
  }
}
