@use "../partials/screen-breakpoints.scss" as sb;

.main {
  background-color: var(--lighter-gray);

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
}

.loginForm {
  max-width: 25rem;
  margin-inline: auto;
}

.loginFieldset {
  display: grid;
  gap: var(--size-3);
  grid-auto-flow: row;
  grid-auto-rows: 1fr;

  legend {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;

    margin-bottom: var(--size-2);
  }

  input,
  textarea {
    height: 100%;
  }
}

@media (max-width: calc(sb.$bigger-than-tablet - 1px)) {
  .loginForm {
    max-width: 17.5rem;
  }

  .submitButton {
    width: 8rem;

    margin-inline: auto;
  }
}
