:where(.searchForm) {
  position: relative;
  display: flex;
  width: clamp(17.5rem, 35vw + 1rem, 30rem);
}

.searchBox {
  color: var(--neutral-text-900);

  background-color: var(--neutral-color-200);

  font-size: var(--fs-200);

  width: 100%;

  padding-block: 0.75rem;
  padding-inline: var(--size-3) 3rem;
  border-radius: 100vw;

  &::placeholder {
    color: var(--neutral-text-500);
  }
}
.searchButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.75rem;
}
