.wrapper {
  position: relative;
}

.toggleButton {
  width: 100%;

  padding: var(--size-3);

  &[aria-expanded="true"] + .menu {
    display: block;

    & * {
      width: 100%;
    }
  }
}

.menu {
  background-color: var(--neutral-color-100);

  display: none;
  position: absolute;
  inset: 100% 0 auto;

  box-shadow: 0 0.25rem 0.5rem hsla(0, 0%, 0%, 0.2);

  z-index: 1;
}
