.headerContainer,
.titleAndForm {
  display: flex;
  align-items: center;
}

.headerContainer {
  gap: var(--size-5);
  justify-content: space-between;

  padding-block: var(--size-3);
}

.titleAndForm {
  gap: var(--size-5);
}

.logo {
  width: clamp(7.5rem, 12.5vw + 1rem, 172px);
}

.toggleSearchButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.sessionButton {
  --padding-inline: var(--size-6);
}

@media (max-width: calc(650px - 1px)) {
  .headerContainer {
    position: relative;
    gap: var(--size-2);
  }

  .sessionButton {
    --padding-inline: clamp(var(--size-4), 7.5vw + 1rem, var(--size-6));
    margin-right: clamp(var(--size-4), 7.5vw + 1rem, var(--size-6));
  }

  .searchFormWrapper {
    display: none;

    &.active {
      background-color: white;

      position: absolute;
      inset: 0;
      
      display: grid;
      gap: var(--size-2);
      grid-template-columns: 1fr auto;
      align-items: center;
    }
  }

  .searchForm {
    width: 100%;
  }

  .searchIcon {
    fill: var(--dark-gray-text);
  }
}
