.headerContainer,
.titleAndForm {
  display: flex;
  align-items: center;
}

.headerContainer {
  gap: var(--size-5);
  justify-content: space-between;

  padding-block: var(--size-3);
}

.skipToContent {
  color: var(--accent-color);
  font-weight: 500;

  background-color: var(--primary-color);

  position: absolute;
  top: 0;
  left: var(--size-3);
  
  padding: var(--size-2) var(--size-3);
  border-radius: 0 0 var(--size-1) var(--size-1);
  
  transform: translateY(-100%);
  transition: transform 200ms ease-out;
  z-index: 1;

  &:focus-visible {
    transform: unset;
    outline-offset: 0;
  }
}

.titleAndForm {
  gap: var(--size-5);
}

.logoAnchor {
  display: block;
}

.logo {
  width: clamp(7.5rem, 12.5vw + 1rem, 172px);
}

.toggleSearchButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.sessionButton {
  --padding-inline: var(--size-6);
}

@media (max-width: calc(650px - 1px)) {
  .headerContainer {
    position: relative;
    gap: var(--size-2);
  }

  .sessionButton,
  .adminMenu {
    margin-right: clamp(var(--size-4), 7.5vw + 1rem, var(--size-6));
  }

  .sessionButton {
    --padding-inline: clamp(var(--size-4), 7.5vw + 1rem, var(--size-6));
  }

  .searchFormWrapper {
    display: none;

    &.active {
      background-color: var(--primary-color);

      position: absolute;
      inset: 0;

      display: grid;
      gap: var(--size-2);
      grid-template-columns: 1fr auto;
      align-items: center;
    }
  }

  .searchForm {
    width: 100%;
  }

  .searchIcon {
    fill: var(--dark-gray-text);
  }
}
