.category {
  margin-block: var(--size-6);

  &Header {
    display: flex;
    justify-content: space-between;

    margin-bottom: var(--size-3);
  }

  &Title {
    font-size: var(--fs-medium-title);
  }
}

.seeAllLink,
.productLink {
  --default-color: var(--accent-color);
  --hover-color: var(--accent-color-light);
  color: var(--default-color);
  font-weight: bold;

  &:hover {
    color: var(--hover-color);
  }
}

.seeAllLink {
  display: flex;
  align-items: center;

  .linkArrow {
    fill: var(--default-color);
  }

  &:hover .linkArrow {
    fill: var(--hover-color);
  }
}

.productList {
  display: grid;
  gap: var(--size-3);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.product {
  display: flex;
  gap: var(--size-2);
  flex-direction: column;

  &Title {
    font-size: var(--fs-small);
    font-weight: 500;
  }
}

@media (max-width: 700px) {
  .productList {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
