.category {
  margin-block: var(--size-6);

  &Header {
    display: flex;
    justify-content: space-between;

    margin-bottom: var(--size-3);
  }

  &Title {
    font-size: var(--fs-500-clamp);
  }
}

.seeAllLink {
  display: flex;
  align-items: center;

  .linkArrow {
    fill: var(--default-color);
  }

  &:hover .linkArrow {
    fill: var(--hover-color);
  }
}

.productList {
  display: grid;
  gap: var(--size-3);
  grid-auto-flow: column;
  grid-auto-columns: minmax(9rem, 14rem);
}

@media (max-width: 700px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}
